@import "../../../../scss/variables.scss";

.historical-event {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__year {
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: $royal-blue;

    @media (min-width: $tablet) {
      font-size: 22px;
    }

    @media (min-width: $desktop-1280) {
      font-size: 25px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 145%;
    color: $east-bay;

    @media (min-width: $tablet) {
      font-size: 18px;
    }

    @media (min-width: $desktop-1280) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
