@use "scss-reset";
@import "./scss/variables.scss";

body {
  min-width: 320px;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $whisper;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-1280) {
    padding: 0 80px;
  }
}
